node_modules/
data.sqlite3
.elasticbeanstalk/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

bower_components/
app/static/vendor
npm-debug.log
